/.vscode/*
a.out.dSYM
a.out
/c++ primer/chapter ?/*
!/c++ primer/chapter ?/*.cpp
!/c++ primer/chapter ?/*.cc
!/c++ primer/chapter ?/*.h
/挑战程序设计竞赛/chapter ?/*
!/挑战程序设计竞赛/chapter ?/*.cpp
/.idea/*
/cmake-build-debug/*
/aoapc-bac2nd/chapter ?/*
!/aoapc-bac2nd/chapter ?/*.c
!/aoapc-bac2nd/chapter ?/*.cpp
!/aoapc-bac2nd/chapter ?/*.txt